# Python
venv/
*.pyc
__pycache__/

# Node.js
node_modules/

# Env files
.env
.env.*

# Mac
.DS_Store

# Logs
*.log

# Other
*.sqlite3
*.sqlite
*.db
*.db-shm
*.db-wal
data/backups/
debug_data/
legacy.sqlite
data/legacy.sqlite
seo-images.tar
seo-images.tar.gz

# Frontend Build
frontend/dist/
frontend/node_modules/
