modules = ["web", "python-3.12"]

[nix]
channel = "stable-24_05"
packages = ["geckodriver", "gitFull", "glibcLocales", "playwright-driver", "xcodebuild", "zlib", "chromium", "firefox", "nss", "nspr", "atk", "cups", "gtk3", "gdk-pixbuf", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "xorg.libXrender", "xorg.libxcb", "xorg.libXi", "xorg.libXtst", "xorg.libXss", "libdrm", "mesa", "dbus", "expat", "alsa-lib"]

[workflows]
runButton = "Run Parser"

[[workflows.workflow]]
name = "Run Parser"
author = 18583526
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src && python main.py"

[[workflows.workflow]]
name = "Web Server"
author = 18583526
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python web_server.py"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
