modules = ["web", "python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Parser"

[[workflows.workflow]]
name = "Run Parser"
author = 18583526
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src && python main.py"
