[Unit]
Description=SEO Worker Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/mapsparser-Replit-front
Environment=PATH=/root/mapsparser-Replit-front/venv/bin
# Переменные окружения для локальной разработки
ExecStart=/root/mapsparser-Replit-front/venv/bin/python /root/mapsparser-Replit-front/src/worker.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 